@import 'normalize.css';
@import 'blocks/start.css';
@import 'blocks/game.css';
@import 'blocks/finish.css';

main {
    min-height: 100vh;
    background: url('../images/main-bg.jpg') no-repeat center;
    background-size: cover;
    font-family: 'Montserrat'
}

.section.disable {
    display: none;
}

.section-text {
    background: #7272ff;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 30px;
    border: 10px solid #007193;
}

.section-text__title {
    font-size: 40px;
    text-align: center;
}

.section-text__descr {
    font-weight: 400;
    margin: 30px 0;
}

.section-text a {
    color: #007193;
    text-decoration: underline;
    font-weight: 800;
}

.section-text__descr span {
    position: relative;
    padding-left: 31px;
    font-weight: 600;
}

.section-text__descr span::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background: url('../images/gold.png') no-repeat center;
    width: 30px;
    height: 30px;
    background-size: cover;
}